html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  --ellipse-16-color: #000;
  --ellipse-29-color: #333;
  --ellipse-27-color: #666;
  --ellipse-28-color: #999;
  --ellipse-30-color: #D1A9F0;
  --ellipse-24-color: #C283F3;
  --ellipse-19-color: #9D5CD0;
  --ellipse-18-color: #7943A4;
  --ellipse-21-color: #30BF39;
  --ellipse-23-color: #26A5E4;
  --ellipse-22-color: #D11616;
  --ellipse-25-color: #CACACA;
  --ellipse-26-color: #ECECEC;
  --ellipse-20-color: #FFFFFF;
}

/* Для всех */
a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
}

.list--reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1700px;
}

.flex {
  display: flex;
}

.h2 {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
}

.h3 {
  margin: 0;
  color: var(--ellipse-29-color);
  font-size: 24px;
  font-weight: 600;
}

.btn--reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.descr {
  margin: 0;
}

time {
  color: var(--ellipse-28-color);
  font-size: 12px;
}

.js-focus-visible:focus:not(.focus-visible) {
  outline: none;
}

/* header*/
.header__section--top {
  padding: 28px 0;
  background-color: var(--ellipse-16-color);
}

.header__container--top {
  justify-content: space-between;
  align-items: center;
}

.header__burger--btn,
.header__container--search--top {
  display: none;
}

.header__logo--link {
  display: block;
  margin-right: 180px;
}

.header__logo--link.focus-visible {
  outline-offset: 5px;
  outline: 1px solid var(--ellipse-18-color);
}

.header__logo--img {
  height: 100%;
}

.header__list {
  height: 100%;
  align-items: center;
}

.header__item:not(:last-child) {
  margin-right: 62px;
}

.header__item--link {
  position: relative;
  z-index: 50;
  font-weight: 600;
  font-size: 18px;
  color: var(--ellipse-20-color);
  transition: color 0.3s ease-out;
}

.header__item--link.focus-visible {
  outline: none;
}

.header__item--link::before {
  transition: background 0.3s ease-out;
}

.header__item--link.focus-visible::before {
  content: '';
  position: absolute;
  left: -6px;
  top: -6px;
  right: -6px;
  bottom: -6px;
  z-index: -10;
  outline: none;
  background-color: var(--ellipse-18-color);
}

.header__item--link:hover.focus-visible::before,
.header__item--link:active.focus-visible::before {
  background-color: transparent;
}

.header__item--link:hover {
  color: var(--ellipse-24-color);
}

.header__item--link:active {
  outline: none;
  color: var(--ellipse-18-color);
}

.header__btn--login {
  position: relative;
  z-index: 50;
  align-items: center;
}

.header__btn--login.focus-visible {
  outline: none;
}

.header__btn--login::before {
  transition: background-color 0.2s ease-out;
}

.header__btn--login.focus-visible::before {
  content: '';
  position: absolute;
  inset: -6px;
  z-index: -10;
  background-color: var(--ellipse-18-color);
}

.header__btn--login:hover.focus-visible::before,
.header__btn--login:active.focus-visible::before {
  background-color: transparent;
}

.header__btn--login:hover .header__svg--login {
  display: none;
}

.header__btn--login .header__svg--login--active {
  display: none;
}

.header__btn--login:hover .header__svg--login--active {
  margin-right: 3px;
  display: block;
}

.header__btn--login .header__svg--login--active path {
  fill: var(--ellipse-20-color);
}

.header__btn--login:hover .header__svg--login--active path {
  fill: var(--ellipse-24-color);
}

.header__btn--login:hover span {
  color: var(--ellipse-24-color);
}

.header__btn--login:active .header__svg--login {
  display: none;
}

.header__btn--login:active .header__svg--login--active {
  display: block;
  margin-right: 3px;
}

.header__btn--login:active .header__svg--login--active path {
  fill: var(--ellipse-19-color);
}

.header__btn--login:active span {
  color: var(--ellipse-19-color);
}

.header__btn--login svg {
  margin-right: 7px;
}

.header__btn--login svg path {
  fill: var(--ellipse-20-color);
  transition: fill 0.2s ease-out;
}

.header__btn--login span {
  font-size: 18px;
  color: var(--ellipse-20-color);
  transition: color 0.2s ease-out;
}

.header__btn--search--top {
  display: none;
}

.header__section--bottom {
  padding: 21px 0;
  background-color: rgba(0, 0, 0, 0.50);
}

.header__container--bottom {
  align-items: center;
  justify-content: space-between;
}

.header__item--bottom {
  position: relative;
}

.header__item--bottom:not(:last-child) {
  margin-right: 96px;
}

.header__btn--select--bottom {
  position: relative;
  align-items: center;
  font-size: 18px;
  color: var(--ellipse-20-color);
  z-index: 50;
  transition: color 0.3s ease-out;
}

.header__btn--select--bottom.focus-visible {
  outline: none;
}

.header__btn--select--bottom::before {
  transition: background 0.3s ease-out;
}

.header__btn--select--bottom.focus-visible::before {
  content: '';
  position: absolute;
  left: -6px;
  top: -6px;
  right: -6px;
  bottom: -6px;
  outline: none;
  background-color: var(--ellipse-18-color);
  z-index: -10;
}

.header__btn--select--bottom:hover.focus-visible::before,
.header__btn--select--bottom:active.focus-visible::before {
  background-color: transparent;
}

.header__btn--select--bottom:hover {
  color: var(--ellipse-19-color);
}

.header__btn--select--bottom:hover::after {
  border-color: var(--ellipse-19-color);
}

.header__btn--select--bottom:active {
  color: var(--ellipse-18-color);
}

.header__btn--select--bottom:active::after {
  border-color: var(--ellipse-18-color);
}

.header__btn--select--bottom::after {
  content: '';
  margin-left: 7px;
  margin-bottom: 3px;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-left: 2px solid var(--ellipse-20-color);
  border-bottom: 2px solid var(--ellipse-20-color);
  transform: rotate(-45deg);
  transition: border-color 0.3s ease-out, transform 0.3s ease-out;
}

.header__btn--select--bottom--active::after {
  align-self: flex-end;
  transform: rotate(135deg);
}

.header__select--container {
  display: none;
  position: absolute;
  z-index: 10;
  top: 45px;
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.50);
  padding: 40px;
}

.header__select--container--active {
  display: block;
}

.header__list--select {
  position: absolute !important;
  top: 40px;
  left: 40px;
  bottom: 40px;
  right: 40px;
}

.header__item--option:not(:last-child) {
  margin-bottom: 20px;
}

.header__item--option {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--ellipse-29-color);
}

.header__item--option--realism--1 {
  background-image: url(../img/header-selectRealism-1.png);
}

.header__item--option--realism--2 {
  background-image: url(../img/header-selectRealism-2.png);
}

.header__item--option--realism--3 {
  background-image: url(../img/header-selectRealism-3.png);
}

.header__item--option--realism--4 {
  background-image: url(../img/header-selectRealism-4.png);
}

.header__item--option--impressionism--1 {
  background-image: url(../img/header-selectImpressionism-1.png);
}

.header__item--option--impressionism--2 {
  background-image: url(../img/header-selectImpressionism-2.png);
}

.header__item--option--impressionism--3 {
  background-image: url(../img/header-selectImpressionism-3.png);
}

.header__item--option--impressionism--4 {
  background-image: url(../img/header-selectImpressionism-4.png);
}

.header__item--option--Post-Impressionism--1 {
  background-image: url(../img/header-selectPost-Impressionism-1.png);
}

.header__item--option--Post-Impressionism--2 {
  background-image: url(../img/header-selectPost-Impressionism-2.png);
}

.header__item--option--Post-Impressionism--3 {
  background-image: url(../img/header-selectPost-Impressionism-3.png);
}

.header__item--option--Post-Impressionism--4 {
  background-image: url(../img/header-selectPost-Impressionism-4.png);
}

.header__item--option--Vanguard--1 {
  background-image: url(../img/header-selectVanguard-1.png);
}

.header__item--option--Vanguard--2 {
  background-image: url(../img/header-selectVanguard-2.png);
}

.header__item--option--Vanguard--3 {
  background-image: url(../img/header-selectVanguard-3.png);
}

.header__item--option--Vanguard--4 {
  background-image: url(../img/header-selectVanguard-4.png);
}

.header__item--option--futurism--1 {
  background-image: url(../img/header-selectFuturism-1.png);
}

.header__item--option--futurism--2 {
  background-image: url(../img/header-selectFuturism-2.png);
}

.header__item--option--futurism--3 {
  background-image: url(../img/header-selectFuturism-3.png);
}

.header__item--option--futurism--4 {
  background-image: url(../img/header-selectFuturism-4.png);
}

.header__option--link {
  display: block;
  padding: 12px 14px;
  color: var(--ellipse-20-color);
  font-size: 14px;
  font-weight: 600;
}

.header__option--link.focus-visible {
  outline-offset: -2px;
  outline: 2px solid var(--ellipse-19-color);
}

.header__option--link:hover {
  outline-offset: -2px;
  outline: 2px solid var(--ellipse-19-color);
}

.header__option--link:active {
  outline: none;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.40) 0%, rgba(194, 131, 243, 0.40) 100%);
}

.header__btn--search {
  align-self: flex-end;
  margin-right: 9px;
}

.header__btn--search svg {
  vertical-align: bottom;
}

.header__btn--search.focus-visible {
  outline-offset: 2px;
  outline: 2px solid var(--ellipse-18-color);
}

.header__input--search {
  width: 218px;
  padding: 0;
  background-color: transparent;
  color: var(--ellipse-20-color);
  font-size: 18px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  line-height: 150%;
  transition: border-color 0.3s ease-in-out;
}

.header__input--search.focus-visible {
  border-color: var(--ellipse-24-color);
}

.header__input--search:hover {
  border-color: var(--ellipse-24-color);
}

.header__input--search:active {
  outline: none;
  border-color: var(--ellipse-18-color);
}

.header__input--search::placeholder {
  color: rgba(255, 255, 255, 0.85);
}


/* hero */
.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 63px;
  padding-bottom: 122px;
}

.hero__block--top {
  margin-bottom: 92px;
  flex-direction: column;
  justify-content: space-between;
  max-width: 600px;
}

.hero__h2 {
  font-size: 72px;
  font-weight: 700;
  color: var(--ellipse-20-color);
  line-height: 137%;
}

.hero__descr {
  font-size: 18px;
  font-weight: 700;
  line-height: 29px;
  color: var(--ellipse-20-color);
}

.hero__btn {
  max-width: 315px;
  padding: 23px 30px;
  border-radius: 100px;
  border: 2px solid var(--ellipse-19-color);
  background-color: var(--ellipse-19-color);
  font-size: 18px;
  font-weight: 700;
  color: var(--ellipse-20-color);
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}

.hero__btn.focus-visible {
  outline-offset: 2px;
  outline: 2px solid var(--ellipse-24-color);
}

.hero__btn:hover {
  outline: none;
  border: 2px solid var(--ellipse-30-color);
}

.hero__btn:active {
  outline: none;
  border: 2px solid var(--ellipse-30-color);
  background-color: var(--ellipse-18-color);
}


/* about */
.about__section {
  padding-top: 84px;
  padding-bottom: 70px;
}

.about__block {
  max-width: 1080px;
}

.about__h2 {
  margin-bottom: 20px;
  color: var(--ellipse-29-color);
}

.about__descr {
  font-size: 16px;
  line-height: 200%;
  color: var(--ellipse-29-color);
}


/* gallery */
.gallery__section {
  padding-top: 85px;
  padding-bottom: 80px;
  background-color: var(--ellipse-29-color);
  background-image: url(../img/gallery-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery__container {
  justify-content: space-between;
  column-gap: 50px;
}

.gallery__block--left {
  width: 100%;
  flex-direction: column;
}

.gallery__h2 {
  margin-bottom: 20px;
  color: var(--ellipse-20-color);
  font-size: 48px;
}

.gallery__form {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.gallery__label--select {
  flex-direction: column;
}

.gallery__label--select span {
  display: block;
  margin-bottom: 10px;
  color: var(--ellipse-20-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 200%;
}

.gallery__form--checkbox--container {
  flex-direction: column;
  max-width: fit-content;
}

.gallery__label--checkbox {
  user-select: none;
  cursor: pointer;
}

.gallery__label--checkbox input {
  position: absolute;
  appearance: none;
}

.gallery__label--checkbox .gallery__input--checkbox--descr {
  position: relative;
  padding-left: 24px;
}

.gallery__label--checkbox .gallery__input--checkbox--descr::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 12px;
  height: 12px;
  border: 1px solid var(--ellipse-20-color);
  transform: translateY(-50%);
  transition: border 0.2s;
}

.gallery__label--checkbox input.focus-visible+.gallery__input--checkbox--descr::before {
  border: 1px solid var(--ellipse-24-color);
}

.gallery__label--checkbox input:hover+.gallery__input--checkbox--descr::before {
  border: 1px solid var(--ellipse-24-color);
}

.gallery__label--checkbox input:active+.gallery__input--checkbox--descr::before {
  border: 1px solid var(--ellipse-24-color);
}

.gallery__label--checkbox input.focus-visible+.gallery__input--checkbox--descr {
  color: var(--ellipse-24-color);
}

.gallery__label--checkbox input:hover+.gallery__input--checkbox--descr {
  color: var(--ellipse-20-color);
}

.gallery__label--checkbox input:checked+.gallery__input--checkbox--descr:active {
  color: var(--ellipse-24-color);
}

.gallery__label--checkbox input+.gallery__input--checkbox--descr:active {
  color: var(--ellipse-24-color);
}

.gallery__label--checkbox .gallery__input--checkbox--descr::after {
  content: '';
  position: absolute;
  left: 4px;
  top: 50%;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: var(--ellipse-24-color);
  overflow: hidden;
  transform: translateY(-50%);
  opacity: 0;
}

.gallery__label--checkbox input:checked+.gallery__input--checkbox--descr::after {
  opacity: 1;
}

.gallery__label--checkbox input:checked+.gallery__input--checkbox--descr::before {
  border: 1px solid var(--ellipse-24-color);
}

.gallery__label--checkbox .gallery__input--checkbox--descr {
  color: var(--ellipse-20-color);
  font-size: 16px;
  line-height: 200%;
  transition: color 0.2s;
}

.gallery__block--right {
  flex-direction: column;
  margin-top: 20px;
}

.gallery__subblock--arrows {
  margin-bottom: 28px;
}

.gallery__link--pictures {
  position: relative;
  display: block;
  height: 100%;
  transition: background 0.2s;
}

.gallery__link--pictures.focus-visible {
  outline-offset: -3px;
  outline: 3px solid var(--ellipse-18-color);
}

.gallery__link--pictures::after {
  content: '';
  position: absolute;
  inset: 25px;
  transition: background 0.2s;
}

.gallery__link--pictures:hover::after {
  background-color: rgba(0, 0, 0, 0.50);
}

.gallery__link--pictures::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  z-index: 50;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='81' height='79' viewBox='0 0 81 79' fill='none'%3E%3Crect width='25.1624' height='6.2906' transform='matrix(-0.72074 0.693205 0.72074 0.693205 18.1355 57.1966)' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M44.2696 65.7708C28.041 65.7708 14.8852 52.6834 14.8852 36.5393C14.8852 20.3952 28.041 7.30786 44.2696 7.30786C60.4981 7.30786 73.6539 20.3952 73.6539 36.5393C73.6539 52.6834 60.4981 65.7708 44.2696 65.7708ZM44.2696 73.0786C23.9839 73.0786 7.53917 56.7194 7.53917 36.5393C7.53917 16.3592 23.9839 0 44.2696 0C64.5552 0 80.9999 16.3592 80.9999 36.5393C80.9999 56.7194 64.5552 73.0786 44.2696 73.0786Z' fill='white'/%3E%3Cpath d='M42 24L42 48.9999L47.9954 48.9999L47.9955 23.9999L42 24Z' fill='white'/%3E%3Cpath d='M57.2336 33.9999L32.2336 33.9999L32.2336 39.9954L57.2336 39.9954L57.2336 33.9999Z' fill='white'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s;
}

.gallery__link--pictures:hover::before {
  opacity: 1;
}

.gallery__link--pictures img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: opacity 0.2s;
}

.gallery__link--pictures:active {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.40) 0%, rgba(194, 131, 243, 0.40) 100%);
}

.gallery__link--pictures:active img {
  opacity: 0.5;
}

.gallery__link--pictures img[alt] {
  color: var(--ellipse-20-color);
}


/* catalog */
.catalog__section {
  padding-top: 85px;
}

.catalog__h2 {
  margin-bottom: 20px;
  color: var(--ellipse-29-color);
  font-size: 48px;
}

.catalog__descr {
  max-width: 1080px;
  margin-bottom: 40px;
  color: var(--ellipse-29-color);
  font-size: 16px;
  line-height: 200%;
}

.catalog__block {
  flex-wrap: nowrap;
  column-gap: 50px;
}

.catalog__subblock {
  max-width: 750px;
}

.catalog__subblock--article {
  display: none;
}

.catalog__sublock--article--active {
  display: block;
}

.catalog__img--article {
  display: block;
  margin-bottom: 33px;
}

.catalog__h3--article {
  margin-bottom: 9px;
}

.catalog__descr--article {
  margin-top: 15px;
  color: var(--ellipse-29-color);
  font-size: 16px;
  line-height: 200%;
}

.catalog__link--article {
  display: inline-block;
  margin-top: 15px;
  color: var(--ellipse-19-color);
  font-size: 16px;
  font-weight: 600;
  transition: background 0.2s, color 0.2s;
}

.catalog__link--article.focus-visible {
  outline: none;
  background-color: var(--ellipse-19-color);
  color: var(--ellipse-20-color);
}

.catalog__link--article:hover {
  outline: none;
  background-color: transparent;
  color: var(--ellipse-18-color);
}

.catalog__link--article:active {
  outline: none;
  background-color: transparent;
  color: var(--ellipse-29-color);
}

.catalog__list {
  width: 50%;
}

.catalog__accordion--content {
  overflow: hidden;
}

.catalog__accordion--trigger {
  width: 100%;
  justify-content: space-between;
  padding: 32px 0;
  border-top: 1px solid var(--ellipse-25-color);
  border-bottom: 1px solid var(--ellipse-25-color);
}

.catalog__btn--list {
  transition: border-color 0.2s;
}

.catalog__btn--list.focus-visible {
  outline: none;
}

.catalog__btn--list:hover {
  border-color: var(--ellipse-19-color);
}

.catalog__btn--list:active {
  border-color: var(--ellipse-18-color);
}

.catalog__btn--list .catalog__h3--list {
  transition: color 0.2s, background 0.2s;
}

.catalog__btn--list.focus-visible .catalog__h3--list {
  outline: none;
  color: var(--ellipse-20-color);
  background-color: var(--ellipse-19-color);
}

.catalog__btn--list:hover .catalog__h3--list {
  color: var(--ellipse-19-color);
  background-color: transparent;
}

.catalog__btn--list:active .catalog__h3--list {
  color: var(--ellipse-18-color);
  background-color: transparent;
}

.catalog__h3--list {
  align-self: center;
}

.catalog__svg--container--list svg {
  vertical-align: middle;
}

.catalog__btn--list .catalog__svg--container--list svg {
  outline: none;
}

.catalog__btn--list:active .catalog__svg--container--list svg {
  outline: none;
  border-radius: 100%;
  border: 2px solid var(--ellipse-19-color);
}

.catalog__svg--container--list svg path {
  fill: var(--ellipse-26-color);
}

.catalog__btn--list .catalog__svg--container--list svg path {
  transition: fill 0.2s;
}

.catalog__btn--list.focus-visible .catalog__svg--container--list svg path {
  fill: var(--ellipse-30-color);
}

.catalog__btn--list:hover .catalog__svg--container--list svg path {
  fill: var(--ellipse-30-color);
}

.catalog__btn--list:active .catalog__svg--container--list svg path {
  fill: var(--ellipse-30-color);
}

.catalog__accordion--content .catalog__svg--container--list {
  transition: transform 0.3s ease-in-out;
}

.catalog__accordion--active .catalog__svg--container--list {
  transform: rotate(180deg);
}

.catalog__accordion--content .catalog__list--panel,
.catalog__accordion--content .catalog__article--panel--section {
  transition: margin-top 0.5s ease-in-out, margin-bottom 0.3s ease-out;
  transition-delay: 0s, 0.3s;
}

.catalog__accordion--active .catalog__list--panel,
.catalog__accordion--active .catalog__article--panel--section {
  margin: 25px 0;
}

.catalog__accordion--active .catalog__container--list .catalog__btn--list {
  border-color: var(--ellipse-18-color);
}

.catalog__accordion--active .catalog__container--list .catalog__btn--list .catalog__h3--list  {
  color: var(--ellipse-18-color);
}

.catalog__accordion--active .catalog__container--list .catalog__btn--list .catalog__svg--container--list svg path {
  fill: var(--ellipse-30-color);
}

.catalog__accordion--active .catalog__container--list .catalog__btn--list .catalog__svg--container--list svg {
  border: 2px solid var(--ellipse-19-color);
  border-radius: 100%;
}

.catalog__list--panel {
  width: 100%;
  column-count: 3;
}

.catalog__accordion--panel {
  transition-duration: 0.3s !important;
}

.catalog__item--panel--list {
  break-inside: avoid-column;
}

.catalog__button--panel--list {
  position: relative;
  color: var(--ellipse-29-color);
  font-size: 16px;
  line-height: 200%;
  transition: background 0.2s;
  overflow: hidden;
}

.catalog__button--panel--list.focus-visible {
  outline: none;
  background-color: var(--ellipse-19-color);
}

.catalog__button--panel--list:hover {
  background-color: transparent;
}

.catalog__button--panel--list:active {
  background-color: transparent;
}

.catalog__button--panel--list::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background-color: var(--ellipse-19-color);
  transform: translateX(-120%);
  transition: opacity 0.2s, transform 0.2s ease-in-out;
  opacity: 0;
}

.catalog__button--panel--list:hover::after {
  transform: none;
  opacity: 1;
}

.catalog__button--panel--list:active::after {
  opacity: 0;
}

.catalog__button--panel--list--active {
  background-color: var(--ellipse-19-color);
}

.catalog__item--panel--list--none {
  height: 32px;
}

.catalog__article--panel--section {
  flex-wrap: nowrap;
  column-gap: 24px;
}

.catalog__img--container--panel--section {
  padding: 12px;
  max-width: 275px;
  height: 190px;
  border: 2px solid var(--ellipse-28-color);
}

.catalog__content--container--panel--section {
  align-self: center;
}

.catalog__h4--panel--section {
  margin: 0;
  margin-bottom: 5px;
  color: var(--ellipse-29-color);
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.catalog__descr--panel--section {
  max-width: 275px;
  margin-bottom: 5px;
  color: var(--ellipse-29-color);
  font-size: 16px;
}

.catalog__link--panel--section {
  color: var(--ellipse-19-color);
  font-size: 16px;
  font-weight: 600;
  transition: background 0.2s, color 0.2s;
}

.catalog__link--panel--section.focus-visible {
  outline: none;
  background-color: var(--ellipse-19-color);
  color: var(--ellipse-20-color);
}

.catalog__link--panel--section:hover {
  outline: none;
  background-color: transparent;
  color: var(--ellipse-18-color);
}

.catalog__link--panel--section:active {
  outline: none;
  background-color: transparent;
  color: var(--ellipse-29-color);
}


/* events */
.events__section {
  padding-top: 83px;
}

.events__container {
  position: relative;
}

.events__h2 {
  margin-bottom: 20px;
  color: var(--ellipse-29-color);
}

.events__list {
  justify-content: space-between;
}

.events__item--container {
  max-width: 500px;
  padding-top: 300px;
  border: 1px solid var(--ellipse-25-color);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.events__item--container--1 {
  background-image: url(../img/events-1.png);
}

.events__item--container--2 {
  background-image: url(../img/events-2.png);
}

.events__item--container--3 {
  background-image: url(../img/events-3.png);
}

.events__item--container--4 {
  background-image: url(../img/events-4.png);
}

.events__item--container--5 {
  background-image: url(../img/events-5.png);
}

.events__article {
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 340px;
  padding-top: 15px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 48px;
}

.events__content--container {
  margin-bottom: 10px;
}

.events__time--container {
  margin-bottom: 11px;
}

.events__span {
  display: block;
}

.events__span,
.events__span~time {
  color: var(--ellipse-28-color);
  font-size: 12px;
  font-weight: 600;
}

.events__h3 {
  margin-bottom: 10px;
  line-height: 33px;
}

.events__descr {
  color: var(--ellipse-29-color);
  font-size: 16px;
  line-height: 200%;
}

.events__link {
  position: relative;
  z-index: 50;
  display: inline-block;
  width: fit-content;
  color: var(--ellipse-19-color);
  font-size: 16px;
  line-height: 20px;
  transition: color 0.2s;
}

.events__link.focus-visible {
  outline: none;
  color: var(--ellipse-20-color);
}

.events__link:hover {
  outline: none;
  color: var(--ellipse-18-color);
}

.events__link:active {
  outline: none;
  color: var(--ellipse-29-color);
}

.events__link::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -4px;
  width: 100%;
  height: 1px;
  background-color: var(--ellipse-19-color);
  transition: background-color 0.2s;
}

.events__link.focus-visible::after {
  outline: none;
  background-color: var(--ellipse-20-color);
}

.events__link:hover::after {
  outline: none;
  background-color: var(--ellipse-18-color);
}

.events__link:active::after {
  outline: none;
  background-color: var(--ellipse-29-color);
}

.events__link::before {
  content: '';
  position: absolute;
  inset: -10px;
  z-index: -10;
  background-color: var(--ellipse-19-color);
  opacity: 0;
  transition: opacity 0.2s;
}

.events__link.focus-visible::before {
  outline: none;
  opacity: 1;
}

.events__link:hover::before {
  outline: none;
  opacity: 0;
}

.events__link:active::before {
  outline: none;
  opacity: 0;
}

/* projects */
.projects__section {
  padding: 81px 0;
}

.projects__h2 {
  margin-bottom: 20px;
  color: var(--ellipse-29-color);
}

.projects__text {
  max-width: 1080px;
  margin-bottom: 20px;
  color: var(--ellipse-29-color);
  font-size: 16px;
  line-height: 200%;
}

.projects__tooltip,
.projects__tooltip--market {
  display: inline;
}

.projects__span a {
  position: relative;
  z-index: 50;
  color: var(--ellipse-19-color);
  transition: color 0.2s;
}

.projects__span a.focus-visible {
  outline: none;
  color: var(--ellipse-20-color);
}

.projects__span a:hover {
  outline: none;
  color: var(--ellipse-19-color);
}

.projects__span a:active {
  outline: none;
  color: var(--ellipse-18-color);
}

.projects__span a::after {
  content: '';
  position: absolute;
  inset: -3px;
  z-index: -10;
  background-color: var(--ellipse-19-color);
  opacity: 0;
  transition: opacity 0.2s;
}

.projects__span a.focus-visible::after {
  outline: none;
  opacity: 1;
}

.projects__span a:hover::after {
  outline: none;
  opacity: 0;
}

.projects__span a:active::after {
  outline: none;
  opacity: 0;
}

.projects__span a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 1px;
  width: 100%;
  background-color: var(--ellipse-19-color);
  opacity: 0;
  transition: opacity 0.2s, background 0.2s;
}

.projects__span a:hover::before {
  outline: none;
  opacity: 1;
}

.projects__span a:active::before {
  outline: none;
  background-color: var(--ellipse-18-color);
  opacity: 1;
}

.projects__h3 {
  margin-bottom: 23px;
}

.projects__item {
  width: 450px;
}

.projects__item--link {
  align-items: center;
  justify-content: center;
  width: 99%;
  height: 150px;
  border: 1px solid var(--ellipse-25-color);
  cursor: pointer;
  transition: border 0.2s;
}

.projects__item--link.focus-visible {
  outline: none;
  border: 1px solid var(--ellipse-19-color);
}

.projects__item--link:hover {
  outline: none;
  border: 1px solid var(--ellipse-25-color);
}

.projects__item--link:active {
  outline: none;
  border: 1px solid var(--ellipse-19-color);
}

.projects__item--block {
  display: block;
}

.projects__item--img--logo--link {
  display: block;
  height: 100%;
  filter: grayscale(100%);
  opacity: 0.5;
  transition: opacity 0.2s, filter 0.2s;
}

.projects__swiper--container {
  padding: 0 75px;
}

.projects__item--link:hover .projects__item--img--logo--link {
  outline: none;
  filter: none;
  opacity: 1;
}

.projects__item--link:active .projects__item--img--logo--link {
  outline: none;
  filter: none;
  opacity: 1;
}

/* footer */
.footer__section--top {
  padding: 39px 0;
  border: 1px solid var(--ellipse-25-color);
}

.footer__container {
  justify-content: space-between;
  align-items: center;
}

.footer__address {
  font-style: normal;
}

.footer__h3 {
  line-height: 32px;
}

.footer__address--link {
  color: var(--ellipse-29-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  transition: color 0.2s;
}

.footer__address--link.focus-visible {
  outline: none;
  color: var(--ellipse-19-color);
}

.footer__address--link:hover {
  outline: none;
  color: var(--ellipse-24-color);
}

.footer__address--link:active {
  outline: none;
  color: var(--ellipse-18-color);
}

.footer__label {
  position: relative;
}

.footer__input {
  margin-right: 20px;
  width: 270px;
  min-height: 50px;
  padding: 8px 25px;
  border: 1px solid var(--ellipse-29-color);
  border-radius: 100px;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  cursor: pointer;
  transition: background-color 0.2s;
}

.footer__input.focus-visible {
  outline: none;
  background-color: var(--ellipse-26-color);
}

.footer__input:hover {
  outline: none;
  background-color: var(--ellipse-26-color);
}

.footer__input::placeholder {
  color: var(--ellipse-28-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
}

.footer__input.js-validate-error-field {
  border: 1px solid var(--ellipse-22-color) !important;
  color: var(--ellipse-28-color) !important;
}

.footer__form .js-validate-error-label {
  position: absolute;
  top: -18px;
  left: 14px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--ellipse-22-color) !important;
}

.footer__btn {
  position: relative;
  outline: none;
  padding: 13px 35px;
  border-radius: 100px;
  border: 2px solid var(--ellipse-19-color);
  color: var(--ellipse-19-color);
  background-color: transparent;
  font-size: 18px;
  font-weight: 700;
  transition: background-color 0.2s, color 0.2s, padding 0.2s, border 0.2s;
}

.footer__btn:hover {
  outline: none;
  border: 2px solid var(--ellipse-19-color);
  color: var(--ellipse-20-color);
  background-color: var(--ellipse-19-color);
}

.footer__btn:active {
  outline: none;
  padding: 12px 34px;
  border: 3px solid var(--ellipse-30-color);
  color: var(--ellipse-20-color);
  background-color: var(--ellipse-19-color);
}

.footer__btn::before {
  content: '';
  position: absolute;
  inset: -6px;
  border-radius: 100px;
  border: 2px solid var(--ellipse-24-color);
  opacity: 0;
  transition: opacity 0.2s;
}

.footer__btn.focus-visible::before {
  outline: none;
  opacity: 1;
}

.footer__btn:hover::before {
  outline: none;
  opacity: 0;
}

.footer__btn:active::before {
  outline: none;
  opacity: 0;
}

.footer__h3--content--social-link {
  margin-bottom: 8px;
}

.footer__social--link--top {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.footer__social--link--top:not(:last-child) {
  margin-right: 20px;
}

.footer__social--link--top.focus-visible {
  outline: none;
}

.footer__social--link--top:hover {
  outline: none;
}

.footer__social--link--top:active {
  outline: none;
}

.footer__social--link--top svg {
  border: 1px solid transparent;
  border-radius: 100%;
  opacity: 1;
  transition: opacity 0.2s, border 0.2s;
}

.footer__social--link--top.focus-visible svg {
  outline: none;
  opacity: 0.5;
}

.footer__social--link--top:hover svg {
  outline: none;
  opacity: 0.5;
}

.footer__social--link--top:active svg {
  outline: none;
  border: 1px solid var(--ellipse-19-color);
  opacity: 1;
}

#myMap-1 {
  width: 100%;
  min-height: 700px;
}

#myMap-1.focus-visible {
  outline: 3px solid var(--ellipse-18-color);
}

.footer__section--bottom {
  padding: 47px 0;
  background-color: var(--ellipse-16-color);
}

.footer__container {
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  display: block;
}

.footer__logo.focus-visible {
  outline-offset: 5px;
  outline: 1px solid var(--ellipse-18-color);
}

.footer__logo img {
  display: block;
  height: 100%;
}

.footer__social--link--bottom {
  display: inline-block;
  outline: none;
}

.footer__social--link--bottom svg {
  vertical-align: middle;
}

.footer__social--link--bottom:not(:last-child) {
  margin-right: 15px;
}

.footer__social--link--bottom svg path {
  fill: var(--ellipse-25-color);
  transition: fill 0.2s;
}

.footer__social--link--bottom.focus-visible svg path {
  outline: none;
  fill: var(--ellipse-20-color);
}

.footer__social--link--bottom:hover svg path {
  outline: none;
  fill: var(--ellipse-20-color);
}

.footer__social--link--bottom:active svg path {
  outline: none;
  fill: var(--ellipse-19-color);
}


@media (max-width: 1551px) {

  /* header */
  .header__burger--btn {
    position: relative;
    z-index: 200;
    display: block;
    width: 36px;
    height: 28px;
  }

  .header__burger--btn.focus-visible,
  .header__burger--btn:hover,
  .header__burger--btn:active {
    outline: none;
  }

  .header__burger--line {
    position: absolute;
    top: calc(50% - 2px);
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--ellipse-20-color);
    transform: translateY(calc(-50% + 2px));
    transition: background-color 0.2s, transform 0.5s, opacity 0.3s;
  }

  .header__burger--line:first-child {
    top: 0;
  }

  .header__burger--line:last-child {
    top: calc(100% - 4px);
  }

  .header__burger--btn.focus-visible .header__burger--line {
    background-color: var(--ellipse-19-color);
  }

  .header__burger--btn:hover .header__burger--line {
    background-color: var(--ellipse-24-color);
  }

  .header__burger--btn:active .header__burger--line {
    background-color: var(--ellipse-18-color);
  }

  .header__burger--line--active:first-child {
    top: calc(50% - 2px);
    transform: rotate(45deg);
    transform-origin: center;
  }

  .header__burger--line--active:nth-child(2) {
    opacity: 0;
  }

  .header__burger--line--active:last-child {
    top: calc(50% - 2px);
    transform: rotate(-45deg);
    transform-origin: center;
  }

  .header__stop--scroll {
    overflow: hidden;
  }

  .header__nav {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    margin: 0;
    width: 100%;
    height: 100vh;
    padding: 100px 50px;
    overflow-y: auto;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.90);
    transform: translateY(120%);
    transition: transform 0.5s ease-in-out, visibility 0.5s ease-in-out;
  }

  .header__nav--active {
    visibility: visible;
    transform: none;
  }

  .header__list {
    flex-direction: column;
    align-items: flex-start;
  }

  .header__item:not(:last-child) {
    margin: 0;
    margin-bottom: 30px;
  }

  .header__item--link {
    font-size: 24px;
  }

  .header__btn--login {
    position: absolute;
    left: 50px;
    bottom: 50px;
    z-index: 100;
    padding: 17px 88px;
    border: 2px solid var(--ellipse-19-color);
    border-radius: 100px;
    visibility: hidden;
    overflow: hidden;
    transform: translateX(-150%);
    transition: transform 0.5s ease-in-out, visibility 0.5s ease-in-out, border 0.2s ease-out;
    transition-delay: -0.3s;
  }

  .header__btn--login.focus-visible {
    outline: none;
    background-color: transparent;
    border: 2px solid var(--ellipse-18-color);
  }

  .header__btn--login:hover {
    outline: none;
    padding: 17px 87.5px;
  }

  .header__btn--login:active {
    outline: none;
    padding: 17px 87.5px;
    border: 2px solid var(--ellipse-18-color);
  }

  .header__btn--login--active {
    visibility: visible;
    transform: none;
    transition-property: transform;
    transition-delay: 0.2s;
  }

  .header__btn--login span {
    font-weight: 600;
  }

  .header__logo--link {
    margin: 0;
  }

  .header__btn--search--top {
    display: block;
    width: 30px;
    height: 30px;
  }

  .header__btn--search--top.focus-visible,
  .header__btn--search--top:hover,
  .header__btn--search--top:active {
    outline: none;
  }

  .header__btn--search--top svg path,
  .header__btn--search--top svg rect {
    fill: var(--ellipse-20-color);
    transition: fill 0.2s;
  }

  .header__btn--search--top.focus-visible svg path,
  .header__btn--search--top.focus-visible svg rect {
    fill: var(--ellipse-19-color);
  }

  .header__btn--search--top:hover svg path,
  .header__btn--search--top:hover svg rect {
    fill: var(--ellipse-24-color);
  }

  .header__btn--search--top:active svg path,
  .header__btn--search--top:active svg rect {
    fill: var(--ellipse-18-color);
  }

  .header__container--search--top {
    position: absolute;
    display: flex;
    right: 50px;
    z-index: 100;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-between;
    width: 315px;
    background-color: var(--ellipse-16-color);
    visibility: hidden;
    transform: translateY(-120px);
    transition: transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
  }

  .header__container--search--top--active {
    visibility: visible;
    transform: none;
  }

  .header__form--search--top {
    flex-wrap: nowrap;
    align-items: center;
  }

  .header__form--search--btn--top {
    margin-right: 11px;
    width: 30px;
    height: 30px;
  }

  .header__form--search--btn--top.focus-visible {
    outline: none;
  }

  .header__form--search--btn--top:hover {
    outline: none;
  }

  .header__form--search--btn--top:active {
    outline: none;
  }

  .header__form--search--btn--top svg rect,
  .header__form--search--btn--top svg path {
    fill: var(--ellipse-20-color);
    transition: fill 0.2s;
  }

  .header__form--search--btn--top.focus-visible svg rect,
  .header__form--search--btn--top.focus-visible svg path {
    fill: var(--ellipse-19-color);
  }

  .header__form--search--btn--top:hover svg rect,
  .header__form--search--btn--top:hover svg path {
    fill: var(--ellipse-24-color);
  }

  .header__form--search--btn--top:active svg rect,
  .header__form--search--btn--top:active svg path {
    fill: var(--ellipse-18-color);
  }

  .header__form--search--input--top {
    outline: none;
    border: none;
    width: 218px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
    border-radius: 0%;
    color: var(--ellipse-20-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    background-color: transparent;
    transition: border-bottom 0.2s;
  }

  .header__form--search--input--top.focus-visible {
    outline: none;
    border-bottom: 1px solid var(--ellipse-19-color);
  }

  .header__form--search--input--top:hover {
    outline: none;
    border-bottom: 1px solid var(--ellipse-24-color);
  }

  .header__form--search--input--top:active {
    outline: none;
    border-bottom: 1px solid var(--ellipse-18-color);
  }

  .header__form--search--close--top {
    width: 30px;
    height: 30px;
  }

  .header__form--search--close--top svg rect {
    fill: var(--ellipse-20-color);
    transition: fill 0.2s;
  }

  .header__form--search--close--top.focus-visible svg rect {
    fill: var(--ellipse-19-color);
  }

  .header__form--search--close--top.focus-visible {
    outline: none;
  }

  .header__form--search--close--top:hover svg rect {
    fill: var(--ellipse-24-color);
  }

  .header__form--search--close--top:hover {
    outline: none;
  }

  .header__form--search--close--top:active svg rect {
    fill: var(--ellipse-18-color);
  }

  .header__form--search--close--top:active {
    outline: none;
  }

  .header__section--bottom {
    display: none;
  }

  /* hero */
  .hero__container {
    padding-top: 106px;
    padding-bottom: 114px;
  }

  .hero__block--top {
    max-width: 670px;
    margin-bottom: 137px;
  }

  .hero__descr {
    line-height: 22px;
  }

  /* about */
  .about__section {
    padding-top: 87px;
  }

  /* gallery */
  .gallery__form {
    height: 80%;
  }

  /* catalog */
  .catalog__subblock {
    max-width: 47.3%;
  }

  .catalog__list--panel {
    column-count: 2;
    width: 116%;
  }

  .catalog__item--panel--list--none {
    display: none;
  }

  .catalog__img--container--panel--section {
    padding: 8px;
    max-width: 189px;
    height: 130px;
    overflow: hidden;
  }

  .catalog__img--container--panel--section img {
    object-fit: contain;
    object-position: center;
  }

  /* events */
  .events__item--container {
    padding-top: 200px;
    background-size: 100% 200px;
  }

  .events__article {
    min-height: 420px;
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 54px;
  }

  .events__content--container {
    margin: 0;
  }

  .events__time--container {
    margin-bottom: 2px;
    text-align: right;
  }

  .events__h3 {
    margin-bottom: 7px;
  }

  /* projects */
  .projects__section {
    padding-top: 117px;
    padding-bottom: 80px;
  }

  .projects__text {
    margin-bottom: 24px;
    line-height: 196%;
  }

  .projects__h3 {
    margin-bottom: 24px;
  }

  .projects__swiper--container {
    padding: 0 53px;
  }

  .projects__item--link {
    height: 128px;
  }

  .projects__item--img--logo--link {
    width: 85%;
    margin: auto;
  }

  /* footer */
  .footer__section--top {
    padding: 42px 0;
  }

  .footer__section--top .footer__container {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 27px;
  }

  .footer__address--link {
    font-size: 14px;
    line-height: 37px;
  }

  .footer__section--bottom {
    padding: 40px 0;
  }

  .footer__social--link--bottom svg {
    width: 60px;
    height: 60px;
  }
}


@media (max-height: 550px) {

  /* header */
  .header__btn--login {
    left: initial;
    right: 50px;
    visibility: hidden;
    transform: translateY(200%);
  }

  .header__btn--login--active {
    visibility: visible;
    transform: none;
  }
}

@media (max-height: 450px) {

  /* header */
  .header__stop--scroll {
    overflow: auto;
  }

  .header__nav {
    height: inherit;
  }
}


@media (max-width: 1200px) {
  .projects__tooltip {
    display: none;
  }
}


@media (max-width: 1023px) {

  /* header */
  .header__burger--line:nth-child(2) {
    width: 80%;
  }

  .header__burger--line:last-child {
    width: 70%;
  }

  .header__burger--line--active:last-child {
    width: 100%;
  }

  .header__btn--search--top svg {
    width: 35px;
  }

  .header__container--search--top {
    left: 0;
    right: 0;
    top: 0;
    width: auto;
    column-gap: 23px;
    padding: 35px 50px;
    z-index: 200;
  }

  .header__form--search--top {
    width: 100%;
  }

  .header__form--search--input--top {
    width: 100%;
  }

  .header__form--search--close--top svg {
    width: 30px;
    height: 30px;
  }

  /* gallery */
  .gallery__container {
    flex-direction: column;
  }

  .gallery__form {
    row-gap: 37px;
  }

  .gallery__label--select {
    width: 42%;
  }

  .gallery__block--right {
    margin-top: 40px;
  }

  /* catalog */
  .catalog__block {
    flex-direction: column-reverse;
    row-gap: 49px;
  }

  .catalog__descr {
    margin-bottom: 20px;
  }

  .catalog__list {
    width: 100%;
  }

  .catalog__list--panel {
    column-count: 3;
    width: 108%;
  }

  .catalog__item--panel--list--none {
    display: block;
  }

  .catalog__img--container--panel--section {
    padding: 12px;
    max-width: 275px;
    height: 189px;
  }

  .catalog__subblock {
    max-width: 100%;
  }

  .catalog__img--article {
    margin-bottom: 23px;
  }

  .catalog__descr--article {
    margin-top: 6px;
  }

  /* events */
  .events__section {
    padding-top: 84px;
  }

  .events__article {
    min-height: 380px;
    padding-top: 50px;
  }

  .events__content--container {
    position: relative;
  }

  .events__time--container {
    position: absolute;
    top: -35px;
    right: -15px;
  }

  /* projects */
  .projects__section {
    padding-top: 124px;
  }

  .projects__text {
    margin-bottom: 31px;
    line-height: 198%;
  }

  .projects__h3 {
    margin-bottom: 30px;
  }

  .projects__item--link {
    height: 105px;
  }

  /* footer */
  .footer__section--top .footer__container {
    row-gap: 26px;
  }

  .footer__address--link {
    line-height: 40px;
  }

  .footer__form {
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
  }

  .footer__input {
    margin: 0;
    width: 323px;
  }

  .footer__btn {
    padding: 13px 28px;
  }

  .footer__btn:active {
    padding: 12px 27px;
  }
}


@media (max-width: 767px) {
  .container {
    padding: 0 15px;
  }

  /* header */
  .header__section--top {
    padding: 10px 0;
  }

  .header__burger--btn {
    width: 25px;
    height: 18px;
  }

  .header__burger--line {
    top: calc(50% - 1px);
    height: 2px;
    transform: translateY(calc(-50% + 0px));
  }

  .header__burger--line:nth-child(2) {
    width: 66%;
  }

  .header__burger--line:last-child {
    top: calc(100% - 2px);
    width: 40%;
  }

  .header__burger--line--active:last-child {
    top: calc(50% - 2px);
    width: 100%;
  }

  .header__nav {
    padding: 50px 15px;
  }

  .header__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .header__item--link {
    font-size: 16px;
  }

  .header__btn--login {
    left: 15px;
    bottom: 25px;
    max-width: 125px;
    padding: 15px 35px;
    text-align: center;
  }

  .header__btn--login:hover {
    padding: 15px 34.5px;
  }

  .header__btn--login:active {
    padding: 15px 34.5px;
  }

  .header__btn--login .header__svg--login {
    width: 9px;
    height: 9px;
    margin-right: 5px;
  }

  .header__btn--login .header__svg--login--active {
    width: 12px;
    height: 13px;
  }

  .header__btn--login span {
    font-size: 12px;
  }

  .header__btn--search--top,
  .header__btn--search--top svg {
    width: 18px;
    height: 18px;
  }

  .header__container--search--top {
    padding: 20px 15px;
  }

  /* hero */
  .hero__block--top {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 39px;
  }

  .hero__h2 {
    font-size: 32px;
    text-align: center;
  }

  .hero__descr {
    width: 95%;
    margin: auto;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
  }

  .hero__btn {
    margin: auto;
    padding: 11px 18px;
    font-size: 12px;
  }

  /* about */
  .about__section {
    padding-top: 53px;
    padding-bottom: 42px;
  }

  .about__h2 {
    margin-bottom: 14px;
    font-size: 28px;
  }

  .about__descr {
    font-size: 14px;
  }

  /* gallery */
  .gallery__section {
    padding-top: 53px;
    padding-bottom: 48px;
  }

  .gallery__h2 {
    margin-bottom: 14px;
    font-size: 28px;
  }

  .gallery__form {
    row-gap: 26px;
  }

  .gallery__label--select {
    width: 100%;
  }

  .gallery__label--select span {
    margin-bottom: 5px;
  }

  .gallery__block--right {
    margin-top: 30px;
    flex-direction: column-reverse;
    row-gap: 20px;
  }

  .gallery__subblock--arrows {
    margin: 0 auto;
  }

  /* catalog */
  .catalog__section {
    padding-top: 54px;
  }

  .catalog__h2 {
    margin-bottom: 14px;
    font-size: 28px;
  }

  .catalog__descr {
    display: none;
  }

  .catalog__h3--list {
    font-size: 18px;
  }

  .catalog__accordion--trigger {
    padding: 21px 0;
  }

  .catalog__svg--container--list,
  .catalog__svg--container--list svg {
    width: 30px;
    height: 30px;
  }

  .catalog__list--panel {
    column-count: 1;
  }

  .catalog__accordion--active .catalog__list--panel,
  .catalog__accordion--active .catalog__article--panel--section {
    margin: 21px 0;
  }

  .catalog__item--panel--list--none {
    display: none;
  }

  .catalog__img--container--panel--section {
    padding: 5px;
    max-width: 90px;
    height: 130px;
  }

  .catalog__img--container--panel--section img {
    height: 100%;
    object-fit: cover;
  }

  .catalog__h4--panel--section {
    font-size: 18px;
  }

  .catalog__block {
    row-gap: 45px;
  }

  .catalog__descr--article {
    margin-top: 13px;
  }

  /* events */
  .events__section {
    padding-top: 53px;
  }

  .events__h2 {
    margin-bottom: 14px;
    font-size: 28px;
  }

  .events__block {
    max-width: 450px;
  }

  .events__article {
    min-height: 367px;
    padding-top: 60px;
    padding-left: 23px;
    padding-right: 30px;
  }

  .events__time--container {
    top: -42px;
    right: -13px;
  }

  .events__h3 {
    margin-bottom: 4px;
  }

  .events__h3--span--none {
    display: none;
  }

  .events__descr {
    line-height: 187%;
  }

  .events__link {
    margin-left: 5px;
  }

  /* projects */
  .projects__section {
    padding-top: 84px;
    padding-bottom: 12px;
  }

  .projects__h2 {
    margin-bottom: 15px;
    font-size: 28px;
  }

  .projects__text {
    margin-bottom: 50px;
  }

  .projects__h3 {
    margin-bottom: 17px;
    font-size: 18px;
  }

  .projects__swiper--container {
    padding: 0 47px;
  }

  .projects__item--link {
    height: 63px;
  }

  .projects__item--img--logo--link {
    width: 55%;
  }

  /* footer */
  .footer__section--top {
    padding-bottom: 20px;
    border: none;
  }

  .footer__section--top .footer__container {
    row-gap: 12px;
  }

  .footer__h3 {
    font-size: 18px;
    line-height: 100%;
  }

  .footer__address--link {
    line-height: 35px;
  }

  .footer__input {
    width: 290px;
    min-height: 40px;
    padding: 3px 24px;
  }

  .footer__btn {
    padding: 11px 34px;
    font-size: 12px;
  }

  .footer__btn:active {
    padding: 10px 33px;
  }

  .footer__btn--span--none {
    display: none;
  }

  .footer__h3--content--social-link {
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 200%;
  }

  .footer__social--link--top,
  .footer__social--link--top svg {
    width: 50px;
    height: 50px;
  }

  #myMap-1 {
    min-height: 320px;
  }

  .footer__section--bottom {
    padding: 20px 0;
  }

  .footer__section--bottom .footer__container {
    flex-direction: column-reverse;
    row-gap: 20px;
  }

  .footer__social--link--bottom svg {
    width: 50px;
    height: 50px;
  }

  @media (max-height: 550px) {

    /* header */
    .header__btn--login {
      left: 15px;
      right: auto;
      visibility: hidden;
      transform: translateX(-150%);
    }

    .header__btn--login--active {
      visibility: visible;
      transform: none;
    }
  }

  @media (max-height: 450px) {

    /* header */
    .header__stop--scroll {
      overflow: hidden;
    }

    .header__nav {
      height: 100vh;
    }
  }

  @media (max-height: 350px) {
    .header__btn--login {
      left: auto;
      right: 15px;
      transform: translateY(200%);
      visibility: hidden;
    }

    .header__btn--login--active {
      visibility: visible;
      transform: none;
    }
  }

  @media (max-height: 350px) {

    /* header */
    .header__stop--scroll {
      overflow: auto;
    }

    .header__nav {
      height: 100vh;
    }
  }
}
