/* hero-swiper ------------------------------------------*/
.hero__section--swiper {
  position: relative;
  width: 100%;
  min-height: 630px;
  z-index: initial;
  overflow-y: initial;
  overflow-x: clip;
}

.hero__wrapper {
  position: absolute;
  left: 0;
  top: -71px;
  right: 0;
  bottom: 0;
  height: auto;
  z-index: -10;
  background-color: var(--ellipse-29-color);
}

.hero__wrapper .swiper-slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__wrapper .swiper-slide-1 {
  background-image: url(../img/hero-1.png);
}

.hero__wrapper .swiper-slide-2 {
  background-image: url(../img/hero-2.png);
}

.hero__wrapper .swiper-slide-3 {
  background-image: url(../img/hero-3.png);
}


/* gallery-swiper */
#gallerySwiper {
  width: 4600px;
}

#gallerySwiper .swiper-wrapper .swiper-slide {
  width: 350px;
  height: 350px;
}

#gallerySwiper .gallery__subblock--arrows .swiper-button-next,
#gallerySwiper .gallery__subblock--arrows .swiper-button-prev {
  position: relative;
  left: 0;
  top: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  border: 2px solid var(--ellipse-27-color);
  border-radius: 100%;
  background-color: var(--ellipse-27-color);
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}

#gallerySwiper .gallery__subblock--arrows .swiper-button-next.focus-visible,
#gallerySwiper .gallery__subblock--arrows .swiper-button-prev.focus-visible {
  outline-offset: -2px;
  outline: 2px solid var(--ellipse-16-color);
}

#gallerySwiper .gallery__subblock--arrows .swiper-button-next:hover,
#gallerySwiper .gallery__subblock--arrows .swiper-button-prev:hover {
  outline: none;
  border: 2px solid var(--ellipse-19-color);
  background-color: var(--ellipse-19-color);
}

#gallerySwiper .gallery__subblock--arrows .swiper-button-next:active,
#gallerySwiper .gallery__subblock--arrows .swiper-button-prev:active {
  outline: none;
  border: 2px solid var(--ellipse-16-color);
  background-color: var(--ellipse-18-color);
}

#gallerySwiper .gallery__subblock--arrows .swiper-button-next::after {
  content: '';
  position: absolute;
  left: 10px;
  top: 11px;
  bottom: 0;
  right: 0;
  width: 6px;
  height: 6px;
  margin: 0;
  border-bottom: 1px solid var(--ellipse-20-color);
  border-left: 1px solid var(--ellipse-20-color);
  transform: rotate(-135deg);
}

#gallerySwiper .gallery__subblock--arrows .swiper-button-prev::after {
  content: '';
  position: absolute;
  left: 12px;
  top: 11px;
  bottom: 0;
  right: 0;
  width: 6px;
  height: 6px;
  margin: 0;
  border-top: 1px solid var(--ellipse-20-color);
  border-right: 1px solid var(--ellipse-20-color);
  transform: rotate(-135deg);
}


/* events-swiper */
.events__container .swiper-button-prev,
.events__container .swiper-button-next {
  top: 55%;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid var(--ellipse-26-color);
  background-color: var(--ellipse-26-color);
  transform: translateY(-50%);
  transition: background 0.2s;
}

.events__container .swiper-button-prev {
  left: 25px;
}

.events__container .swiper-button-next {
  right: 25px;
}

.events__container .swiper-button-prev::after {
  content: '';
  position: absolute;
  left: 21px;
  right: 19px;
  top: 20px;
  bottom: 20px;
  transform: rotate(45deg);
  border-left: 1px solid var(--ellipse-16-color);
  border-bottom: 1px solid var(--ellipse-16-color);
}

.events__container .swiper-button-next::after {
  content: '';
  position: absolute;
  left: 20px;
  right: 20px;
  top: 20px;
  bottom: 20px;
  transform: rotate(45deg);
  border-right: 1px solid var(--ellipse-16-color);
  border-top: 1px solid var(--ellipse-16-color);
}

.events__container .swiper-button-prev.swiper-button-disabled,
.events__container .swiper-button-next.swiper-button-disabled {
  opacity: 0;
}

.events__container .swiper-button-prev.focus-visible,
.events__container .swiper-button-next.focus-visible {
  outline: none;
  border: 2px solid var(--ellipse-19-color);
}

.events__container .swiper-button-prev:hover,
.events__container .swiper-button-next:hover {
  outline: none;
  border: 2px solid var(--ellipse-30-color);
  background-color: var(--ellipse-30-color);
}

.events__container .swiper-button-prev:active,
.events__container .swiper-button-next:active {
  outline: none;
  border: 2px solid var(--ellipse-19-color);
  background-color: var(--ellipse-30-color);
}


/* projects-swiper */
.projects__swiper--container {
  position: relative;
}

.projects__swiper-button-prev,
.projects__swiper-button-next {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 2px solid var(--ellipse-26-color);
  border-radius: 100%;
  background-color: var(--ellipse-26-color);
  transition: border 0.2s, background-color 0.2s;
}

.projects__swiper-button-prev.focus-visible,
.projects__swiper-button-next.focus-visible {
  outline: none;
  border: 2px solid var(--ellipse-19-color);
}

.projects__swiper-button-prev:hover,
.projects__swiper-button-next:hover {
  outline: none;
  border: 2px solid var(--ellipse-30-color);
  background-color: var(--ellipse-30-color);
}

.projects__swiper-button-prev:active,
.projects__swiper-button-next:active {
  outline: none;
  border: 2px solid var(--ellipse-19-color);
  background-color: var(--ellipse-30-color);
}

.projects__swiper-button-prev::after {
  content: '';
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  transform: rotate(45deg);
  border-left: 1px solid var(--ellipse-16-color);
  border-bottom: 1px solid var(--ellipse-16-color);
}

.projects__swiper-button-next::after {
  content: '';
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  transform: rotate(45deg);
  border-right: 1px solid var(--ellipse-16-color);
  border-top: 1px solid var(--ellipse-16-color);
}
